body {
	padding: 70px;
	/* 
	lasciate ogne sperenza, voi ch'intrate.
	background-image: url("what hath god wrought.png");
    background-repeat: repeat; */
    background-image: url("http://i.imgur.com/mbKsiZw.jpg");
    background-size: cover;
}

.outer {
	padding: 10px;
	width: 70%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, .4);
}